{% extends "app/base.html" %}

{% block content %}

{% if user.role == 3 %}
    <a class="btn btn-success btn-lg mt-1 mb-1" href="{% url 'create-hall' %}">Create Cinema Hall</a>
{% endif %}
{% for hall in halls %}
<article class="media content-section">
  <div class="media-body">
    <h2><a class="article-title" href="#">{{ hall.name }}</a></h2>
    <p class="article-content">Columns: {{ hall.columns }}</p>
    <p class="article-content">Rows: {{ hall.rows }}</p>
    {% if user.role == 3 %}
    <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'update-hall' hall.pk %}">Update</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete-hall' hall.pk %}">Delete</a>
    {% endif %}
  </div>
</article>
{% endfor %}

{% endblock content %}