{% extends "app/base.html" %}

{% block content %}

{% if user.role == 3 %}
    <a class="btn btn-success btn-lg mt-1 mb-1" href="{% url 'create-show' %}">Create Show</a>
{% endif %}
{% for show in shows %}
<article class="media content-section">
  <div class="media-body">
    <h2><a class="article-title" href="#">{{ show.movie }}</a></h2>
    <p class="article-content">Hall: {{ show.hall }}</p>
    <p class="article-content">{{ show.date }}</p>
    {% if user.role == 1 %}
    <a class="btn btn-primary btn-sm mt-1 mb-1" href="#">Book</a>
    {% endif %}
    {% if user.role == 3 %}
    <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'update-show' show.pk %}">Update</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete-show' show.pk %}">Delete</a>
    {% endif %}
  </div>
</article>
{% endfor %}

{% endblock content %}